__pycache__
repl.ipynb
.ipynb_checkpoints
.pytest_cache
.env
docs/static/reference
.chainlit
chainlit.md
!docs/**/chainlit.md
test*.py
build/
litechain.egg-info/
.chroma

# Generated markdown files from jupyter notebooks
docs/docs/examples/*.md
!docs/docs/examples/index.md