name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main # Also trigger on pull requests to main branch

jobs:
  run_tests:
    runs_on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: make doctest && make test